
.example-spacer {
  flex: 1 1 auto;
}
.main-body{
  max-width: 1348px;
  padding-top: 20px;
  margin: 0 auto;
  mat-form-field{
    width: 100%;
  }
}



// .mat-toolbar {
//   background-color: rgb(243, 243, 243);
// }
